<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/navbar/head-scripts') %>
        <%- include('../partials/navbar/scripts/home/home-scripts') %>
        <meta name="_csrf" content="<%= csrfToken %>">
    </head>
<body>
    <nav>
        <%- include('../partials/navbar/promo-navbar') %>
        <%- include('../partials/navbar/top-navbar') %>
        <%- include('../partials/navbar/bottom-navbar') %>
    </nav>
        <%- include('../partials/home/carousel') %>
        <%- include('../partials/home/modal') %>
       
        <%- include('../partials/home/user-counter') %>
        <%- include('../partials/home/info-bar') %>
        <%- include('../partials/home/categories') %>
        <%- include('../partials/home/product-carousel') %>
</body>
</html>
